
body {
  font-family: sans-serif;
  background: #614385;  
  background: -webkit-linear-gradient(to bottom, #516395, #614385);  
  background: linear-gradient(to bottom, #516395, #614385); 
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
}
 
.container {
  max-width: 500px;
  margin: auto;
  min-height: 100%;
  height: 100vh;
  color: white;
}
 
header {
  padding: 5px 15px 1px 15px;
}

.content {
  padding: 10px;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 500px;
  font-size: 3em;

}
 
.button-container{
  height: 30vh;
  font-size: 0.75em;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Task 2: CSS Skills */

.button{
  font-family: 'Times New Roman', Times, serif;
  color:white;
  position: relative;

  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;

  padding: 10px 25px 10px 25px;
  background-color: rgb(153, 52, 99);
  
  cursor: pointer;
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none;
}

.button:hover {
  background-color: rgb(138, 48, 90);
}

.button:after{
  content: '';
  position: absolute;

  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
 
  background: linear-gradient(90deg, rgba(71,94,214,1) 0%, rgba(57,7,17,1) 100%);
  border: solid 7px rgb(2, 87, 2);
  z-index: -1;

  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}


.button:before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  
  border: solid 6px rgb(29, 56, 13);
  background: none;

  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;

  -webkit-box-shadow: 0px 0px 34px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 34px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 34px -6px rgba(0,0,0,0.75);
}






